@model MvcLogin.Models.AnnouncementModel



@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "MyForm2" }))
{
    <p>Merhaba,</p>
    <p>@Model.StartDate.ToShortDateString() ve @Model.EndDate.ToShortDateString() tarihleri arasında</p>
    <p>Haftalık kullanım limitlerimiz aşağıdaki gibidir;</p>

    foreach (var item in Model.urunList)
    {
        if (item.Selected == true)
        {
            <p>@item.UrunAdi : @item.UretimMiktari @item.UrunTipiString</p>
        }
    }


    <p>İyi çalışmalar.</p>
}