@model MvcLogin.Models.HomepageModel
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>



<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            // Initialize form validation on the registration form.
            // It has the name attribute "registration"
            $("form[name='kullaniciYorumEkleForm']").validate({
                // Specify validation rules
                rules: {

                    KullaniciYorumEkle: {
                        required: true,
                        maxlength: 250
                    }
                },
                // Specify validation error messages
                messages: {

                    KullaniciYorumEkle: {
                        required: "Bu alan boş bırakılamaz.",
                        maxlength: "Maksimum 250 karakter girmelisiniz."
                    }
                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            // Initialize form validation on the registration form.
            // It has the name attribute "registration"
            $("form[name='AdminYorumEkleForm']").validate({
                // Specify validation rules
                rules: {

                    AdminYorumEkle: {
                        required: true,
                        maxlength: 250
                    }
                },
                // Specify validation error messages
                messages: {

                    AdminYorumEkle: {
                        required: "Bu alan boş bırakılamaz.",
                        maxlength: "Maksimum 250 karakter girmelisiniz."
                    }
                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('.kullanici li.beforenext').click(function () {
            var pageNumber = $(this).text();

            var test = $(this).closest("ul.kullanici").find("li").find("a.sayfalandirma").last().text();
            var sayi = Number(test);
            var yorumSayisi = Number($('sayi').text().trim());


            if (pageNumber.trim() == "Sonraki") {
                if ($(this).closest("ul.kullanici").find("li").find("a.sayfalandirma").first().text() == 1) {

                    if ($(this).closest("ul.kullanici").find("li.sayfalandirma").first().next().hasClass("active") || $(this).closest("ul.kullanici").find("li.sayfalandirma").last().hasClass("active")) {
                        $(this).closest("ul.kullanici").find("li").find("a.noktailk").removeClass("hidden");
                    }
                    if ($(this).closest("ul.kullanici").find("li.sayfalandirma").first().next().hasClass("active")) {
                        document.getElementById("1").innerHTML = (sayi - 1).toString();
                        document.getElementById("2").innerHTML = (sayi).toString();
                        document.getElementById("3").innerHTML = (sayi + 1).toString();
                    } else if ($(this).closest("ul.kullanici").find("li.sayfalandirma").last().hasClass("active")) {
                        document.getElementById("1").innerHTML = (sayi - 1).toString();
                        document.getElementById("2").innerHTML = (sayi).toString();
                        document.getElementById("3").innerHTML = (sayi + 1).toString();
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").first().next().addClass("active");
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").last().removeClass("active");
                    } else {
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").first().next().addClass("active");
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").first().removeClass("active");
                    }

                }
                else if (sayi < yorumSayisi) {


                    if (document.getElementById("2").innerHTML == (yorumSayisi - 1).toString()) {
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").first().next().removeClass("active");
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").last().addClass("active");
                    } else if ($(this).closest("ul.kullanici").find("li.sayfalandirma").first().hasClass("active")) {
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").first().next().addClass("active");
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").first().removeClass("active");
                    }

                    if (sayi + 1 <= yorumSayisi) {

                        document.getElementById("1").innerHTML = (sayi - 1).toString();
                        document.getElementById("2").innerHTML = (sayi).toString();
                        document.getElementById("3").innerHTML = (sayi + 1).toString();
                        if (sayi + 1 == yorumSayisi || sayi == yorumSayisi) {
                            $(this).closest("ul.kullanici").find("li").find("a.noktason").addClass("hidden");

                        }
                    }

                } else if (sayi == yorumSayisi) {
                    if ($(this).closest("ul.kullanici").find("li.sayfalandirma").first().hasClass("active")) {
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").first().next().addClass("active");
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").first().removeClass("active");
                    } else if ($(this).closest("ul.kullanici").find("li.sayfalandirma").first().next().hasClass("active")) {
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").first().next().removeClass("active");
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").last().addClass("active");
                    }
                }
            } else if ($(this).hasClass("noktailk")) {
                if (sayi >= 3) {
                    if (sayi >= 6) {
                        var a = document.getElementById("1").innerHTML = (sayi - 5).toString();
                        var a = document.getElementById("2").innerHTML = (sayi - 4).toString();
                        var a = document.getElementById("3").innerHTML = (sayi - 3).toString();
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").last().addClass("active");

                    }

                    if (sayi - 3 == 3) {
                        $(this).closest("ul.kullanici").find("li").find("a.noktailk").addClass("hidden");
                        $(this).closest("ul.kullanici").find("li").find("a.noktason").removeClass("hidden");
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").last().addClass("active");


                    } else if (sayi < 6) {
                        var a = document.getElementById("1").innerHTML = "1";
                        var a = document.getElementById("2").innerHTML = "2";
                        var a = document.getElementById("3").innerHTML = "3";
                        $(this).closest("ul.kullanici").find("li").find("a.noktailk").addClass("hidden");
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").last().addClass("active");

                    }

                    $(this).closest("ul.kullanici").find("li.sayfalandirma").last().addClass("active");
                    $(this).closest("ul.kullanici").find("li.sayfalandirma").last().before().removeClass("active");

                }
            } else if ($(this).hasClass("noktason")) {

                if (sayi <= yorumSayisi) {
                    if (sayi == yorumSayisi) {
                        $(this).closest("ul.kullanici").find("li").find("a.noktason").addClass("hidden");
                    } else if (sayi + 3 <= yorumSayisi) {
                        var a = document.getElementById("1").innerHTML = (sayi + 1).toString();
                        var a = document.getElementById("2").innerHTML = (sayi + 2).toString();
                        var a = document.getElementById("3").innerHTML = (sayi + 3).toString();

                    } else {
                        var a = document.getElementById("1").innerHTML = (yorumSayisi - 2).toString();
                        var a = document.getElementById("2").innerHTML = (yorumSayisi - 1).toString();
                        var a = document.getElementById("3").innerHTML = (yorumSayisi).toString();
                    }
                    if (sayi == 3) {
                        $(this).closest("ul.kullanici").find("li").find("a.noktailk").removeClass("hidden");
                    }
                    if (sayi + 3 >= yorumSayisi) {
                        $(this).closest("ul.kullanici").find("li").find("a.noktason").addClass("hidden");
                    }

                }



            } else if (pageNumber.trim() == "Önceki") {
                if (sayi != 3) {

                    if (sayi == 4) {
                        $(this).closest("ul.kullanici").find("li").find("a.noktailk").addClass("hidden");

                    }
                    if (sayi == yorumSayisi) {
                        if ($(this).closest("ul.kullanici").find("li.sayfalandirma").first().next().hasClass("active")) {
                            $(this).closest("ul.kullanici").find("li").find("a.noktason").removeClass("hidden");
                            var a = document.getElementById("1").innerHTML = (sayi - 3).toString();
                            var a = document.getElementById("2").innerHTML = (sayi - 2).toString();
                            var a = document.getElementById("3").innerHTML = (sayi - 1).toString();
                        }
                        if ($(this).closest("ul.kullanici").find("li.sayfalandirma").last().hasClass("active")) {
                            $(this).closest("ul.kullanici").find("li.sayfalandirma").last().removeClass("active");
                            $(this).closest("ul.kullanici").find("li.sayfalandirma").first().next().addClass("active");
                        }
                    } else {
                        var a = document.getElementById("1").innerHTML = (sayi - 3).toString();
                        var a = document.getElementById("2").innerHTML = (sayi - 2).toString();
                        var a = document.getElementById("3").innerHTML = (sayi - 1).toString();
                    }
                } else if (sayi == 3) {
                    if ($(this).closest("ul.kullanici").find("li.sayfalandirma").first().next().hasClass("active")) {
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").first().next().removeClass("active");
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").first().addClass("active");
                    } else if ($(this).closest("ul.kullanici").find("li.sayfalandirma").last().hasClass("active")) {
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").first().next().addClass("active");
                        $(this).closest("ul.kullanici").find("li.sayfalandirma").last().removeClass("active");
                    }
                }





            }


            var pageNo = Number($(this).closest("ul.kullanici").find("li.active").text());

            console.log(pageNo)

            if (pageNo != 0) {

                var divKullaniciYorum = $('#divKullaniciYorum');
                $.ajax({
                    type: 'GET',
                    cache: false,

                    dataType: 'html',
                    contentType: 'application/json; charset=utf-8',
                    url: '/Home/GetKullaniciYorum',
                    data: { 'sayfaNo': pageNo },
                    success: function (data) {
                        console.log("Data geldi !!!");

                        divKullaniciYorum.html(data);
                    },
                    failure: function (response) {
                        //alert('Failed to retrieve products: ' + response.responseText);
                        console.log(pageNumber)
                    },
                    error: function (response) {
                        //alert('Error: ' + response.responseText);
                        console.log(pageNumber)

                    }
                });
            } else {
                console.log("Boş seçildi!");
            }




        });
    });
</script>



<script type="text/javascript">
    $(document).ready(function () {


        $('.kullanici li.sayfalandirma').click(function () {
            $('li.active').removeClass('active');
            $(this).closest("li.sayfalandirma").addClass("active");


            var pageNumber = $(this).text();



            var test = $(this).closest("ul.kullanici").find("li").find("a.sayfalandirma").last().text();
            var sayi = Number(test);
            var yorumSayisi = Number($('sayi').text().trim());





            if (pageNumber != 0 && pageNumber.trim() != "Sonraki" && pageNumber.trim() != "Önceki" && pageNumber != "...") {

                var divKullaniciYorum = $('#divKullaniciYorum');
                $.ajax({
                    type: 'GET',
                    cache: false,

                    dataType: 'html',
                    contentType: 'application/json; charset=utf-8',
                    url: '/Home/GetKullaniciYorum',
                    data: { 'sayfaNo': pageNumber },
                    success: function (data) {
                        console.log("Data geldi !!!");

                        divKullaniciYorum.html(data);
                    },
                    failure: function (response) {
                        //alert('Failed to retrieve products: ' + response.responseText);
                        console.log(pageNumber)
                    },
                    error: function (response) {
                        //alert('Error: ' + response.responseText);
                        console.log(pageNumber)

                    }
                });
            } else {
                console.log("Boş seçildi!");
            }




            pageNumber++;
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.admin li.beforenext').click(function () {
            var pageNumber = $(this).text();

            var test = $(this).closest("ul.admin").find("li").find("a.sayfalandirma").last().text();
            var sayi = Number(test);
            var yorumSayisi = Number($('sayiadmin').text().trim());


            if (pageNumber.trim() == "Sonraki") {
                if ($(this).closest("ul.admin").find("li").find("a.sayfalandirma").first().text() == 1) {

                    if ($(this).closest("ul.admin").find("li.sayfalandirma").first().next().hasClass("active") || $(this).closest("ul.admin").find("li.sayfalandirma").last().hasClass("active")) {
                        if (yorumSayisi > 3) {
                            $(this).closest("ul.admin").find("li").find("a.noktailk").removeClass("hidden");

                        }
                    }
                    if ($(this).closest("ul.admin").find("li.sayfalandirma").first().next().hasClass("active")) {
                        if (yorumSayisi <= 3) {
                            if ($(this).closest("ul.admin").find("li.sayfalandirma").first().hasClass("active")) {
                                $(this).closest("ul.admin").find("li.sayfalandirma").first().next().addClass("active");
                                $(this).closest("ul.admin").find("li.sayfalandirma").first().removeClass("active");
                            } else if ($(this).closest("ul.admin").find("li.sayfalandirma").first().next().hasClass("active")) {
                                $(this).closest("ul.admin").find("li.sayfalandirma").first().next().removeClass("active");
                                $(this).closest("ul.admin").find("li.sayfalandirma").last().addClass("active");
                            }
                        } else {
                            document.getElementById("1").innerHTML = (sayi - 1).toString();
                            document.getElementById("2").innerHTML = (sayi).toString();
                            document.getElementById("3").innerHTML = (sayi + 1).toString();
                        }
                    } else if ($(this).closest("ul.admin").find("li.sayfalandirma").last().hasClass("active")) {
                        if (yorumSayisi >= 3) {

                        } else {
                            document.getElementById("1").innerHTML = (sayi - 1).toString();
                            document.getElementById("2").innerHTML = (sayi).toString();
                            document.getElementById("3").innerHTML = (sayi + 1).toString();
                            $(this).closest("ul.admin").find("li.sayfalandirma").first().next().addClass("active");
                            $(this).closest("ul.admin").find("li.sayfalandirma").last().removeClass("active");
                        }
                    } else {
                        $(this).closest("ul.admin").find("li.sayfalandirma").first().next().addClass("active");
                        $(this).closest("ul.admin").find("li.sayfalandirma").first().removeClass("active");
                    }

                }
                else if (sayi < yorumSayisi) {


                    if (document.getElementById("2").innerHTML == (yorumSayisi - 1).toString()) {
                        $(this).closest("ul.admin").find("li.sayfalandirma").first().next().removeClass("active");
                        $(this).closest("ul.admin").find("li.sayfalandirma").last().addClass("active");
                    } else if ($(this).closest("ul.admin").find("li.sayfalandirma").first().hasClass("active")) {
                        $(this).closest("ul.admin").find("li.sayfalandirma").first().next().addClass("active");
                        $(this).closest("ul.admin").find("li.sayfalandirma").first().removeClass("active");
                    }

                    if (sayi + 1 <= yorumSayisi) {

                        document.getElementById("1").innerHTML = (sayi - 1).toString();
                        document.getElementById("2").innerHTML = (sayi).toString();
                        document.getElementById("3").innerHTML = (sayi + 1).toString();
                        if (sayi + 1 == yorumSayisi || sayi == yorumSayisi) {
                            $(this).closest("ul.admin").find("li").find("a.noktason").addClass("hidden");

                        }
                    }

                } else if (sayi == yorumSayisi) {
                    if ($(this).closest("ul.admin").find("li.sayfalandirma").first().hasClass("active")) {
                        $(this).closest("ul.admin").find("li.sayfalandirma").first().next().addClass("active");
                        $(this).closest("ul.admin").find("li.sayfalandirma").first().removeClass("active");
                    } else if ($(this).closest("ul.admin").find("li.sayfalandirma").first().next().hasClass("active")) {
                        $(this).closest("ul.admin").find("li.sayfalandirma").first().next().removeClass("active");
                        $(this).closest("ul.admin").find("li.sayfalandirma").last().addClass("active");
                    }
                }
            } else if ($(this).hasClass("noktailk")) {
                if (sayi >= 3) {
                    if (sayi >= 6) {
                        var a = document.getElementById("1").innerHTML = (sayi - 5).toString();
                        var a = document.getElementById("2").innerHTML = (sayi - 4).toString();
                        var a = document.getElementById("3").innerHTML = (sayi - 3).toString();
                        $(this).closest("ul.admin").find("li.sayfalandirma").last().addClass("active");

                    }

                    if (sayi - 3 == 3) {
                        $(this).closest("ul.admin").find("li").find("a.noktailk").addClass("hidden");
                        $(this).closest("ul.admin").find("li").find("a.noktason").removeClass("hidden");
                        $(this).closest("ul.admin").find("li.sayfalandirma").last().addClass("active");


                    } else if (sayi < 6) {
                        var a = document.getElementById("1").innerHTML = "1";
                        var a = document.getElementById("2").innerHTML = "2";
                        var a = document.getElementById("3").innerHTML = "3";
                        $(this).closest("ul.admin").find("li").find("a.noktailk").addClass("hidden");
                        $(this).closest("ul.admin").find("li.sayfalandirma").last().addClass("active");

                    }

                    $(this).closest("ul.admin").find("li.sayfalandirma").last().addClass("active");
                    $(this).closest("ul.admin").find("li.sayfalandirma").last().before().removeClass("active");

                }
            } else if ($(this).hasClass("noktason")) {

                if (sayi <= yorumSayisi) {
                    if (sayi == yorumSayisi) {
                        $(this).closest("ul.admin").find("li").find("a.noktason").addClass("hidden");
                    } else if (sayi + 3 <= yorumSayisi) {
                        var a = document.getElementById("1").innerHTML = (sayi + 1).toString();
                        var a = document.getElementById("2").innerHTML = (sayi + 2).toString();
                        var a = document.getElementById("3").innerHTML = (sayi + 3).toString();

                    } else {
                        var a = document.getElementById("1").innerHTML = (yorumSayisi - 2).toString();
                        var a = document.getElementById("2").innerHTML = (yorumSayisi - 1).toString();
                        var a = document.getElementById("3").innerHTML = (yorumSayisi).toString();
                    }
                    if (sayi == 3) {
                        $(this).closest("ul.admin").find("li").find("a.noktailk").removeClass("hidden");
                    }
                    if (sayi + 3 >= yorumSayisi) {
                        $(this).closest("ul.admin").find("li").find("a.noktason").addClass("hidden");
                    }

                }



            } else if (pageNumber.trim() == "Önceki") {
                if (sayi != 3) {

                    if (sayi == 4) {
                        $(this).closest("ul.admin").find("li").find("a.noktailk").addClass("hidden");

                    }
                    if (sayi == yorumSayisi) {
                        if ($(this).closest("ul.admin").find("li.sayfalandirma").first().next().hasClass("active")) {
                            $(this).closest("ul.admin").find("li").find("a.noktason").removeClass("hidden");
                            var a = document.getElementById("1").innerHTML = (sayi - 3).toString();
                            var a = document.getElementById("2").innerHTML = (sayi - 2).toString();
                            var a = document.getElementById("3").innerHTML = (sayi - 1).toString();
                        }
                        if ($(this).closest("ul.admin").find("li.sayfalandirma").last().hasClass("active")) {
                            $(this).closest("ul.admin").find("li.sayfalandirma").last().removeClass("active");
                            $(this).closest("ul.admin").find("li.sayfalandirma").first().next().addClass("active");
                        }
                    } else {
                        var a = document.getElementById("1").innerHTML = (sayi - 3).toString();
                        var a = document.getElementById("2").innerHTML = (sayi - 2).toString();
                        var a = document.getElementById("3").innerHTML = (sayi - 1).toString();
                    }
                } else if (sayi == 3) {
                    if ($(this).closest("ul.admin").find("li.sayfalandirma").first().next().hasClass("active")) {
                        $(this).closest("ul.admin").find("li.sayfalandirma").first().next().removeClass("active");
                        $(this).closest("ul.admin").find("li.sayfalandirma").first().addClass("active");
                    } else if ($(this).closest("ul.admin").find("li.sayfalandirma").last().hasClass("active")) {
                        $(this).closest("ul.admin").find("li.sayfalandirma").first().next().addClass("active");
                        $(this).closest("ul.admin").find("li.sayfalandirma").last().removeClass("active");
                    }
                }





            }


            var pageNo = Number($(this).closest("ul.admin").find("li.active").text());

            console.log(pageNo)

            if (pageNo != 0) {

                var divAdminYorum = $('#divAdminYorum');
                $.ajax({
                    type: 'GET',
                    cache: false,

                    dataType: 'html',
                    contentType: 'application/json; charset=utf-8',
                    url: '/Home/GetAdminYorum',
                    data: { 'sayfaNo': pageNo },
                    success: function (data) {
                        console.log("Data geldi !!!");

                        divAdminYorum.html(data);
                    },
                    failure: function (response) {
                        //alert('Failed to retrieve products: ' + response.responseText);
                        console.log(pageNumber)
                    },
                    error: function (response) {
                        //alert('Error: ' + response.responseText);
                        console.log(pageNumber)

                    }
                });
            } else {
                console.log("Boş seçildi!");
            }




        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {


        $('.admin li.sayfalandirma').click(function () {

            $('li.active').removeClass('active');
            $(this).closest("li.sayfalandirma").addClass("active");
            var pageNumber = $(this).text();


            console.log(pageNumber);

            if (pageNumber != 0) {
                console.log(pageNumber);

                var divAdminYorum = $('#divAdminYorum');
                $.ajax({
                    type: 'GET',
                    cache: false,

                    dataType: 'html',
                    contentType: 'application/json; charset=utf-8',
                    url: '/Home/GetAdminYorum',
                    data: { 'sayfaNo': pageNumber },
                    success: function (data) {
                        console.log("Data geldi !!!");



                        divAdminYorum.html(data);
                    },
                    failure: function (response) {
                        //alert('Failed to retrieve products: ' + response.responseText);
                        console.log(pageNumber)
                    },
                    error: function (response) {
                        //alert('Error: ' + response.responseText);
                        console.log(pageNumber)

                    }
                });
            } else {
                console.log("Boş seçildi!");
            }




            pageNumber++;
        });
    });
</script>
<style>

    #KullaniciYorumEkle-error, #AdminYorumEkle-error {
        font-family: "Comic Sans MS", cursive, sans-serif;
        color: red;
    }


    .col-md-3 {
        border-color: #ddd !important;
        border-width: medium;
        display: block;
        border-radius: 4px;
        border: 4px solid;
        box-sizing: border-box;
    }

    .btnKullaniciYorum {
        background-color: DodgerBlue; /* Blue background */
        border: none; /* Remove borders */
        color: white; /* White text */
        padding: 3px 6px;
        font-size: 20px;
        cursor: pointer; /* Mouse pointer on hover */
        margin-left: 20px;
    }

        /* Darker background on mouse-over */
        .btnKullaniciYorum:hover {
            background-color: RoyalBlue;
            color: white;
        }

    .kullanici li.active > a {
        background-color: royalblue;
        color: #fff;
    }

    .btnKullaniciYorum.focus, .btnKullaniciYorum:focus, .btnKullaniciYorum:hover {
        color: lightblue;
        text-decoration: none;
    }

    .kullanici > li > a:hover {
        background-color: lightblue;
    }

    .admin > li > a:hover {
        background-color: lightblue;
    }
</style>


<div class="" style="margin-top:30px;">


    <div class="col-md-3" style="border-color:green; border-width:medium;">

        <h4 style="text-align:center;">
            <i class="fas fa-users" style="color:green; font-size:x-large; margin-right:10px;"></i>Kullanıcı Yorumları
            <button class="btn btnKullaniciYorum" data-toggle="modal" data-target="#AddKullaniciYorum"> <i class="fas fa-plus-circle"></i></button>
        </h4>

        @using (Html.BeginForm())
        {
            <div id="divKullaniciYorum" class="panel-group ">

                @Html.Partial("_PartialHomepageKullaniciYorum", Model)

            </div>

            <nav aria-label="Page navigation" style="text-align:center;">
                <ul class="pagination kullanici">
                    <li class="beforenext">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">Önceki</span>
                        </a>
                    </li>
                    @{
                        int pageNumber = Model.kullaniciYorum.Count() / 5;
                        int y = Model.kullaniciYorum.Count() % 5 == 0 ? 0 : pageNumber++;

                        <li class="noktailk beforenext"><a class="noktailk hidden" id=noktanokta href="#">...</a></li>


                        for (int i = 1; i <= pageNumber; i++)
                        {
                            <li class="sayfalandirma"><a class="sayfalandirma" id=@i href="#">@i</a></li>
                            if (i % 3 == 0)
                            {
                                <li class="noktason beforenext"><a id=@i class="noktason" href="#">...</a></li>

                                break;
                            }
                        }


                    }
                    <sayi class="hidden">
                        @{
                            var a = 0;
                            if (Model.kullaniciYorum.Count() % 5 == 0)
                            {
                                a = (@Model.kullaniciYorum.Count() / 5);
                            }
                            else
                            {
                                a = ((@Model.kullaniciYorum.Count() / 5) + 1);
                            }
                            @a;
                        }

                    </sayi>

                    <li class="beforenext">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">Sonraki</span>
                        </a>
                    </li>
                </ul>
            </nav>
        }



        <div class="modal fade" id="AddKullaniciYorum" tabindex="-1" role="dialog" aria-labelledby="">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="margin-right:200px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:xx-large; margin-left:350px;">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Mutfak Yorum Ekle</h4>
                    </div>
                    <form method="post" name="kullaniciYorumEkleForm" action="/Home/AddKullaniciYorum" style="margin-left:50px; margin-top:20px;">

                        <div class="form-group">
                            <label>
                                Kullanıcı Adı:
                            </label>
                            @Session["username"]
                        </div>
                        <div class="form-group">
                            <label>Kullanici Yorumu:</label>
                            <textarea rows="5" cols="350" name="KullaniciYorumEkle" class="form-control txtKullaniciYorum KullaniciYorumEkle" maxlength="251" placeholder="Yorum Ekleyiniz."></textarea>
                        </div>


                        <br />


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                            <button type="submit" id="btnKullaniciYorumEkle" class="btn btn-primary btnKullaniciYorumEkle">Yorum Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </div>



    <div class="col-md-6" style="text-align:center; font-size:large;">
        @using (Html.BeginForm("EditMutfakDuyuru", "Home", FormMethod.Post, new { id = "MyForm" }))
        {
            <div class="panel panel-default" style="border-width:medium;">
                <div class="panel-heading" style="border-width:medium;">
                    <i class="fas fa-bell" style="color:green; margin-right:50px; font-size:x-large; "></i>
                    Genel Mutfak Duyurusu
                    <i class="fas fa-bell" style="color:green; margin-left:50px; font-size: x-large;"></i>
                    @{
                        if (Session["grup"].Equals(3) && Model.duyuruBilgi.Count() != 0)
                        {
                            <a href="@Url.Action("EditAnnouncement", "Home", new { duyuruId = Model.duyuruBilgi[0].DuyuruId })" class="btn btn-warning" style="float:right;margin-top:-4px;">
                                <i class="fas fa-edit"></i>
                            </a>
                        }
                    }
                </div>

                <div class="panel-body" style="border-width:medium;">
                    <div class="">
                        @{
                            if (Model.duyuruBilgi.Count() != 0)
                            {
                                <p>Merhaba,</p>
                                <p>@Model.duyuruBilgi[0].Duyuru.StartDate.Value.Date.ToShortDateString() ve @Model.duyuruBilgi[0].Duyuru.EndDate.Value.Date.ToShortDateString() tarihleri arasında</p>
                                <p>Haftalık kullanım limitlerimiz aşağıdaki gibidir;</p>

                                int index = 0;
                                foreach (var item in Model.duyuruBilgi)
                                {

                                    if (item.Deleted == false)
                                    {
                                        <p>@item.Urun.UrunAdi : @item.Adet @Model.UrunTipiString[index] </p>
                                        if (item.Duyuru.ExtraNote != null)
                                        {
                                            <p>@item.Duyuru.ExtraNote</p>
                                        }
                                    }
                                    index++;
                                }
                                <p>İyi çalışmalar.</p>
                            }
                            else
                            {
                                <p style="text-align:center;font-size:xx-large; height:500px; padding-top:200px" >Güncel Duyuru Bulunmamaktadır.</p>
                            

                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>




    <div class="col-md-3">
        <h4 style="text-align:center; font:bold;">
            <i class="fas fa-utensils" style="color:green; font-size:x-large; margin-right:10px;"></i>Mutfak Duyuruları @if (Session["grup"].Equals(3))
            {
                <button class="btn btnKullaniciYorum" data-toggle="modal" data-target="#AddAdminMutfakYorum"> <i class="fas fa-plus-circle"></i></button>
            }
        </h4>
        @using (Html.BeginForm())
        {
            <div id="divAdminYorum" class="panel-group">
                @Html.Partial("_PartialHomepageAdminMutfakYorum", Model)
            </div>

            <nav aria-label="Page navigation" style="text-align:center;">

                <ul class="pagination admin">
                    <li class="beforenext">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">Önceki</span>
                        </a>
                    </li>
                    @{
                        int pageNumber = Model.adminMutfakYorum.Count() / 5;
                        int y = Model.adminMutfakYorum.Count() % 5 == 0 ? 0 : pageNumber++;

                        <li class="noktailk beforenext"><a class="noktailk hidden" id=noktanokta href="#">...</a></li>


                        for (int i = 1; i <= pageNumber; i++)
                        {
                            <li class="sayfalandirma"><a class="sayfalandirma" id=@i href="#">@i</a></li>
                            if (i % 3 == 0)
                            {
                                if (Model.adminMutfakYorum.Count() / 5 > 3)
                                {
                                    <li class="noktason beforenext"><a id=@i class="noktason" href="#">...</a></li>
                                }

                                break;
                            }
                        }


                    }
                    <sayiadmin class="hidden">
                        @{
                            var a = 0;
                            if (Model.adminMutfakYorum.Count() % 5 == 0)
                            {
                                a = (@Model.adminMutfakYorum.Count() / 5);
                            }
                            else
                            {
                                a = ((@Model.adminMutfakYorum.Count() / 5) + 1);
                            }
                            @a;
                        }

                    </sayiadmin>

                    <li class="beforenext">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">Sonraki</span>
                        </a>
                    </li>
                </ul>
            </nav>
        }

        <div class="modal fade" id="AddAdminMutfakYorum" tabindex="-1" role="dialog" aria-labelledby="">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="margin-right:200px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:xx-large; margin-left:350px;">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Admin Yorum Ekle</h4>
                    </div>
                    <form method="post" action="/Home/AddAdminMutfakYorum" name="AdminYorumEkleForm" style="margin-left:50px; margin-top:20px;">
                        <div class="form-group">
                            <label>
                                Kullanıcı Adı:
                            </label>
                            @Session["username"]
                        </div>

                        <div class="form-group">
                            <label>Admin Mutfak Yorumu:</label>
                            <textarea rows="5" cols="350" placeholder="Mutfak yorumu Ekleyiniz." name="AdminYorumEkle" class="form-control AdminYorumEkle" maxlength="251"></textarea>
                        </div>
                        <br />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                            <button type="submit" class="btn btn-primary">Yorum Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </div>
</div>


