@model IEnumerable<MvcLogin.Models.Kullanıcılar>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Isim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyisim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuncelBorc)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <th>
                @Html.DisplayFor(modelItem => item.Isim)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Soyisim)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.GuncelBorc)
            </td>


        </tr>
    }

</table>
