@model MvcLogin.Models.PersonalDebtsModel

@{
    ViewBag.Title = "PersonalDebst";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@*<script type="text/javascript">
    $(document).ready(function () {
        $('#SecilenAy').change(function () {
            var secilenAy = $('#SecilenAy').val();
            if (secilenAy == 0) {
                window.location.href = "PersonalDebst"
            }
            if (secilenAy != 0) {
                console.log(secilenAy);

                var divProductList = $('#divProductList');
                //$.ajax({
                //    type: 'GET',
                //    cache: false,
                //    /*
                //        - contentType is the type of data you're sending, so application/json; charset=utf-8 is a common one, as is application/x-www-form-urlencoded; charset=UTF-8, which is the default.
                //        - dataType is what you're expecting back from the server: json, html, text, etc. jQuery will use this to figure out how to populate the success function's parameter.
                //     */
                //    dataType: 'html',
                //    contentType: 'application/json; charset=utf-8',
                //    url: '/Home/GetPersonalDebst',
                //    data: { 'SecilenAy': secilenAy },
                //    success: function (data) {
                //        console.log("Data geldi !!!");



                //        divProductList.html(data);
                //    },
                //    failure: function (response) {
                //        alert('Failed to retrieve products: ' + response.responseText);
                //    },
                //    error: function (response) {
                //        alert('Error: ' + response.responseText);
                //    }
                //});
                //$('#secilenAy').val(secilenAy)
            } else {
                console.log("Boş seçildi!");
            }


        });
    });
</script>*@



<script>
    function myFunction(val) {
        var inputs = document.querySelectorAll('.copyTo')
        inputs.forEach(function (input) {
            input.value = val

        });
    }

</script>

<script>
    function myFunction2(val) {
        var inputs = document.querySelectorAll('.copyTo2')
        inputs.forEach(function (input) {
            input.value = val

        });
    }

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#selectall').click(function (event) {  //on click
            if (this.checked) { // check select status
                $(":checkbox").attr("checked", true);
            } else {
                $(":checkbox").attr("checked", false);
            }
        });

    });
</script>






@using (Html.BeginForm())
{
    <div class="panel panel-primary" style="margin-top:50px;">
        <div class="panel-heading">
            <h4 style="text-align:center;">
                Kişi Borçlandırma
                <span style="float:right; shape-outside: padding-box; margin-top:-5px;">
                    @*@Html.Hidden("secilenAy", "0")*@
                    @Html.DropDownListFor(model => model.SecilenAy, (Model.Ay).Select((v, i) => new SelectListItem() { Text = v.Tarih, Value = (i + 1).ToString() }), "İşlem Yapılacak Ayı Seçiniz.", new { @class = "form-control copyTo2", @style = "padding-buttom:10px;" })
                </span>
            </h4>
        </div>
        <div class="panel-body">
            <div class="col-md-3">
                <input id="selectall" name="selectall" type="checkbox"><label for='selectAll'>Select All</label>
            </div>


            <div class="col-md-offset-7">
                <input type="text" name="txt" value="" onkeyup="myFunction(this.value)" class="form-control" placeholder="Copy To All">

            </div>
            <br />

            <table class="table">
                <thead>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <th>
                            @Html.DisplayNameFor(model => model.Kullanici[0].Isim)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Kullanici[0].Soyisim)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Kullanici[0].GuncelBorc)
                        </th>


                        <th>
                            @Html.DisplayNameFor(model => model.Borclandirma)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @{ }
                @for (int index = 0; index < Model.Kullanici.Count(); index++)
                {
                    if (Model.Kullanici[index].GrupId == 3)
                    {
                        @*<tbody>
                            <tr>
                                <td>
                                    @Html.HiddenFor(modelItem => Model.Kullanici[index].ObjectId)
                                </td>
                                <td>
                                    @Html.HiddenFor(modelItem => Model.Selected[index], false)
                                </td>
                                <td>
                                    @Html.HiddenFor(modelItem => Model.Kullanici[index].Isim)
                                </td>

                                <td>
                                    @Html.HiddenFor(modelItem => Model.Kullanici[index].Soyisim)
                                </td>

                                <td>
                                    @Html.HiddenFor(modelItem => Model.GuncelBorc[index])
                                </td>


                                <td>
                                    @Html.HiddenFor(modelItem => Model.Borclandirma[index], new { @class = "form-control copyTo" })
                                </td>


                            </tr>
                        </tbody>*@
                    }
                    else
                    {
                        <tbody>
                            <tr>
                                <td>
                                    @Html.HiddenFor(modelItem => Model.Kullanici[index].ObjectId)
                                </td>
                                <td>
                                    @Html.CheckBoxFor(modelItem => Model.Selected[index], false)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Kullanici[index].Isim)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => Model.Kullanici[index].Soyisim)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => Model.GuncelBorc[index])
                                </td>


                                <td>
                                    @Html.TextBoxFor(modelItem => Model.Borclandirma[index], new { @class = "form-control copyTo" })
                                </td>


                            </tr>
                        </tbody>


                    }
                }



            </table>




            @*<div id="divProductList">
                    @Html.Partial("_PartialBorclandirmaList", Model)
                </div>*@
            <div class="col-md-offset-9 col-md-3">
                <input type="submit" value="Güncelle" class="btn btn-success" />
            </div>
        </div>

    </div>
}



