@model IEnumerable<MvcLogin.Models.Alisveris>

@{
    ViewBag.Title = "ShoppingList";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/LightBox.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            paging: false
        });

    });
</script>
<style>
    .close {
        color: white !important;
        font-size: xx-large !important;
        opacity: 0.8 !important;
        width: 100px;
        top: 30px;
    }

    div.modal-content {
        background-color: transparent;
        text-align: center;
        background-size: contain;
        transform: scale(0.8);
        margin-top: -150px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        vertical-align: middle !important;
    }
</style>

<style>
    * {
        box-sizing: border-box;
    }

    .zoom {
        transition: transform .2s;
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

        .zoom:hover {
            -ms-transform: scale(2.0); /* IE 9 */
            -webkit-transform: scale(2.0); /* Safari 3-8 */
            transform: scale(2.0);
        }
</style>

<script>
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>

<div class="panel panel-primary" style="margin-top:50px;">
    <div class="panel-heading" style="text-align:center;">
        <h4>
            Alışverişler
        </h4>
    </div>
    @{
        if (Model.Count() != 0)
        {
            <div class="panel-body">
                <table id="myTable" class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.MarketAdi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AlisverisTarihi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FisTutari)
                            </th>
                            <th style="padding-left:90px;">
                                @Html.DisplayName("Fiş Fotoğrafı")
                            </th>
                            @*<th></th>*@
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MarketAdi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AlisverisTarihi.Value)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FisTutari)
                                    </td>
                                    <td>
                                        @{
                                            string path = Server.MapPath("~/Uploads/" + item.ObjectId.ToString() + ".jpg");
                                            string path2 = "~/Uploads/" + item.ObjectId.ToString() + ".jpg";
                                        }

                                        <div class="zoom">
                                            <img src="@Url.Content(path2)" alt="IMAGES" style="height:200px; width:200px;" onclick="openModal();currentSlide(@index)" class="hover-shadow cursor" />
                                        </div>
                                    </td>
                                </tr>

                                index++;
                            }
                        }
                    </tbody>

                </table>

                <div id="myModal" class="modal">
                    <span class="close cursor" onclick="closeModal()">&times;</span>
                    <div class="modal-content">

                        @foreach (var item in Model)
                        {
                            string path2 = "~/Uploads/" + item.ObjectId.ToString() + ".jpg";
                            <div class="mySlides ">

                                <img src="@Url.Content(path2)" alt="IMAGES" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <p style="text-align:center;font-size:xx-large; height:150px; padding-top:50px">Güncel Alışveriş Bulunmamaktadır.</p>
        }
    }

</div>
