@model MvcLogin.Models.AlisverisModel

@{
    
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{System.DateTime _alisverisTarihi = DateTime.Now;}

@using (Html.BeginForm("Shopping", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary" style="margin-top:50px;">
        <div class="panel-heading" style="font-size:large; text-align:center;">
            <h4>Alışveriş Ekle</h4>
        </div>
        <div class="panel-body">

            <div class="form-horizontal">
                
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.MarketAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MarketAdi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MarketAdi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AlisverisTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AlisverisTarihi, new { htmlAttributes = new { @class = "form-control", @Value = _alisverisTarihi.ToString() } })
                        @Html.ValidationMessageFor(model => model.AlisverisTarihi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FisTutari, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FisTutari, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FisTutari, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Files, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Files, new { type = "file" })
                        @Html.ValidationMessageFor(m => m.Files)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Ekle" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
        
    </div>
}
